name: CI/CD to Local Nexus

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: self-hosted  
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Nexus
        uses: docker/login-action@v3
        with:
          registry: localhost:8082
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            localhost:8082/node-app:latest
            localhost:8082/node-app:${{ github.sha }}